extends layout

block content

  h1 Login 
    div.col-sm-6.mx-auto
      form(method="POST", action="/users/register")
        #form-group
        label Email:
        input.form-control(name='email', type="email")
        #form-group
        label password:
        input.form-control(name='password', type="password")
        input.btn.btn-primary(type="submit", value="submit")